.MoshBar
{
	border-top:solid 1px #eee;
	margin-top:15px;
	padding-top:15px;
	padding-left:50px;
}
.WidgetTitle
{
	font-weight:bold;
	margin-bottom:10px;
	font-size:13px;
	color:#3b59aa;
}
.WidgetClose
{
	color:#aaa;
	cursor:pointer;
	text-align:right;
	float:right;
}
.MoshImage
{
	width:100%;
	cursor:pointer;
}
.MoshTitle
{
	font-weight:bold;
	color:#3b59aa;
	font-size:12px;
	padding:10px;
	cursor:pointer;
	background-color:#f7f7f7;
	border:solid 1px #e2e2e2;
}