[Desktop Entry]
Type=Application
Exec=/home/sindredl/.nvidia-settings-rc nvidia-settings --load-config-only
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[nb]=Nvidia-Settings
Name=Nvidia-Settings
Comment[nb]=
Comment=
